/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  /* letter-spacing: 1px; */
  margin-bottom: 15px;
}
/* CSS RESET */
body {
  height: 100vh;
  overflow: scroll;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Header styling */
header {
  background-color: #202529;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header nav:nth-of-type(1) {
  width: 45%;
}
header figure .github-logo {
  color: white;
  padding: 0.5em;
  margin: 0 0.5em 0 0.5em;
  cursor: pointer;
}
header figure .github-logo:hover {
  color: #c7c8c9;
}
header nav a {
  color: white;
  text-decoration: none;
  font-size: 0.9em;
  margin: 0.5em;
}
header nav a:hover {
  color: #c7c8c9;
}
header input {
  width: 300px;
  border: none;
  border-radius: 5px;
  font-size: 0.9em;
  background-image: url("https://github.githubassets.com/images/search-key-slash.svg");
  background-position: 270px;
  background-repeat: no-repeat;
  background-color: #3c4044;
  padding: 0.5em;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  outline: none;
  cursor: text;
}
header input::placeholder {
  color: #dcdcdc;
}
header input:focus {
  width: 500px;
  background-color: #dcdcdc;
  border: none;
  border-radius: 5px;
  background-image: none;
}
header nav:nth-of-type(2) {
  width: 20%;
}

.user-actions ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.user-actions img {
  border-radius: 50%;
}

.user-actions ul li:nth-of-type(2) {
  margin: 0 1em 0 01em;
  color: #c7c8c9;
}
/* SVG */
.user-actions .octicon {
  vertical-align: text-bottom;
  fill: white;
}

/* Header styling */

/* Main section styling */
main {
  display: flex;
}
/* Sidebar */
aside {
  width: 30%;
  display: inline-block;
  padding: 0 4em 4em 4em;
  margin-top: -50px;
}
aside img {
  width: 100%;
  padding: 0.23em;
  border-radius: 50%;
}
aside h3 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.2;
}
aside h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  color: #586069;
}
.btn-primary {
  width: 100%;
  color: black;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  background-color: #fafbfc;
  position: relative;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}
#profile-edit h4 {
  font-size: 20px;
  font-weight: 500;
  color: black;
}
#profile-edit a {
  text-decoration: none;
  color: #586069;
}
#profile-edit a:hover {
  text-decoration: none;
  color: #1772da;
}
#profile-edit .octicon {
  vertical-align: text-bottom;
  fill: #586069;
}
#profile-edit .octicon:hover {
  fill: #1772da;
}
.user-details {
  display: inline-block;
  padding: 15px 0 15px 0;
}
.user-contact {
  display: inline-block;
  padding: 5px 0 15px 0;
}
.user-contact li {
  padding: 0 0 5px 0;
}
.user-contact a {
  padding: 0 0 0 10px;
}
.user-highlights {
  padding: 0 0 20px 0;
}
.user-highlights a {
  text-decoration: none;
  padding: 0 0 0 10px;
  color: #586069;
}
.user-highlights a:hover {
  color: #586069 !important;
}
.labelling {
  display: inline-block;
  padding: 0 7px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 2em;
  background-color: #fafbfc;
  border: 1px solid #dcdcdc;
  margin-left: 10px;
}
.project-avatar {
  width: 32px;
  height: 32px;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 6px;
}
/* Sidebar */
.divider-pry {
  margin: 1em 0;
  border-top: 0.5px solid #d2d7dd;
}

.divider-sec {
  margin: 1em 5.6em 1em 0;
  border-top: 0.5px solid #d2d7dd;
}
/* Repository navigation */
.repo-nav {
  padding: 30px 0 0 0;
  border-bottom: 0.5px solid #d2d7dd;
}
.repo-nav ul {
  display: flex;
  margin-left: 30%;
}

.repo-nav li {
  cursor: pointer;
  display: inline-block;
  padding: 0.8em;
  color:  #586069;
  font-size: 14px; 
}
.repo-nav li .octicon {
  vertical-align: text-bottom;
  fill: #586069;
  margin-right: 5px;
}

.repo-nav li:hover {
  border-bottom-width: 3px;
}

.repo-nav li:nth-of-type(2) {
  border-bottom: 3px solid #df570c;
  margin-left: 1em;
}
/* Repository navigation */
/* Search section */
.search-section{
  /* width: 100%; */
  display: flex;
  
}
.search-section input{
  width: 55%;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #3c4044;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  margin-right: 20px;
}
.search-section input .buttons{
  width: 40%;
  padding: 5px 12px;
  display: flex;
  justify-content: space-between;
}

.search-section .buttons button {
  background-color: #fafbfc;
  padding: 5px 16px;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
}
.search-section .buttons .green {
  background-color: #2ea44f;
  color: white;
}
.search-section .buttons .green .octicon {
  vertical-align: text-bottom;
  fill: white;
}
/* Main section */
#repo-list {
  width: 70%;
  display: inline-block;
  padding: 20px 0 20px 0;
}
#repos li div div h2 a {
  color: #1b1f23;
}

#repos li .repo-list {
  border-bottom: 0.5px solid #d2d7dd;
  width: 90%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
}

#repos li .repo-list .left-repo-list {
  width: 60%;
  display: flex;
  flex-direction: column;
}

#repos li .repo-list .left-repo-list h2 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#repos li .repo-list .left-repo-list p {
  color: gray;
  line-height: 1.3rem;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

#repos li .repo-list .left-repo-list h2 a {
  color: #0366d6;
}

#repos li .repo-list .left-repo-list h2 a:hover {
  text-decoration: underline;
}

#repos li .repo-list .left-repo-list .bottom-repo-list {
  display: flex;
  color: gray;
  font-size: 0.9rem;
}

#repos li .repo-list .star {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

#repos li .repo-list .star button {
  height: 1.8rem;
  border: 0.5px solid #d2d7dd;
  border-radius: 5px;
  cursor: pointer;
}

#repos li .repo-list .star button .octicon {
  vertical-align: text-bottom;
  fill: #586069;
}

.item-prop {
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.item-prop span {
  color: gray;
  margin-left: 0.2rem;
}

.item-prop .bott-links {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.rep {
  background-color: #d2d7dd;
  border-radius: 25%;
  padding: 2px;
}
/* Main section */
